<h1>Meetings</h1>
<h3>Partners</h3>
<ul>
  <% @partners.each do |u|%>
    <li><%=u.username%></li>
  <%end%>
</ul>
<h3>Entrepreneur</h3>
<ul>
  <% @entrepreneur.each do |u|%>
    <li><%=u.username%></li>
  <%end%>
</ul>
<p id="notice"><%= notice %></p>
<h1>Meetings</h1>
<%= link_to 'New Meeting', new_meeting_path %>
<br>
<%= calendar(number_of_days: 1) do |date| %>
  <%= date %>
  <table>
    <thead>
      <tr>
        <th scope="col">Time</th>
        <th scope="col">Partner A</th>
        <th scope="col">Partner B</th>
        <th scope="col">Partner C</th>
        <th scope="col">Partner D</th>
      </tr>
    </thead>
    <tbody>
      <% @meetings.each do |meeting| %>
        <tr>
          <td><%= meeting.start_time %></td>
          <td><%= meeting.entrepreneur.username %></td>
          <td><%= meeting.entrepreneur.username %></td>
          <td><%= meeting.entrepreneur.username %></td>
          <td><%= meeting.entrepreneur.username %></td>
          <td><%= link_to 'Show', meeting %>
            <%= link_to 'Edit', edit_meeting_path(meeting) %>
            <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
